.main-presentation {
    background: url('/img/pop_world_map_onwall-1000x1000\ \(1\).jpg') no-repeat center /cover;
    background-size: 115%;
    background-position: -100px,0;
    text-align: center;
    line-height: 300px;
    font-family: 'Lato', sans-serif;    
    color: #fff;
    font-size: 32px;
    height: 300px;
}
img {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    width: 25vw;
}
main {
    text-align: center;
}
.feedback {
text-align: center;
}
.contact {
    text-align: left;
    float: left;
    padding: 30px;
}
.clr {
    clear:both;
}